
<link rel="stylesheet" href="styles/setup.css"/>
<div class="stup">
    <p>Add this script to your html file</p>
    <textarea id="code" disabled></textarea>


    <div class="row">
        <div  class="status">
            <p id="head">Connection Status</p>
            <p id="statusValue"></p>
        </div>
        <div class="device">
            <img src="/images/monitor.svg" id="deviceLogo"/>
            <div>
                <p id="head">Connected Device</p>
                <p id="deviceDetails"></p>
            </div>
        </div>

    
    </div>

</div>
<script src="scripts/setup.js"></script>