<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles/sidebar.css"/>
</head>
<body>
    <div class="sidebar-container">
        <div class="logo">
            <h3><u>logmatter</u></h3>
        </div>
        <ul>
            <li>Setup</li>
            <li>Console</li>
            <li>Network</li>
            <li>Localstorage</li>
            <li>Elements</li>
        </ul>
    </div>
</body>
