<!DOCTYPE html>
<html>
   
    <head>
        <title>Logmatter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="styles/main.css"/> 
    <body>
        <div class="layout">
            <div class="sidebar">
                <%- include('../partials/sidebar'); %>
            </div>
            <div class="content">   
                <%- include('../partials/setup'); %>

            </div>
        </div>
    </body>
   
</html>